<div id="map-canvas"></div>


<script type="text/javascript">

  var markerBounds = new google.maps.LatLngBounds();
  var mapOptions = {
    mapTypeId: google.maps.MapTypeId.ROADMAP
  };

  map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
  
  var markers = [];

  <% @tweets.each_with_index do |tweet, i| %>
    // Set Marker <%= i %>
    var tweetSpot<%= i %> = new google.maps.LatLng(<%= "#{tweet.geo.try(:lat)}, #{tweet.geo.try(:long)}" %>)
    var marker<%= i %> = new google.maps.Marker({
      position: tweetSpot<%= i %>,
      icon: '/assets/twitter-bird.png'
    });

    markers.push(marker<%= i %>);

    // Bump Map Bounds
    markerBounds.extend(tweetSpot<%= i %>);

    // Create Info Window
    var infowindow<%= i %> = new google.maps.InfoWindow({
      content: '<p><%= @user.screen_name %></p><p><%= tweet.created_at %></p><p><%= tweet.text %></p>'
    });

    // Hook up info windo to marker
    google.maps.event.addListener(marker<%= i %>, 'click', function() {
    infowindow<%= i %>.open(map, marker<%= i %>);
    });
  <% end %>
  
  map.fitBounds(markerBounds);

  var markerCluster = new MarkerClusterer(map, markers);

</script>
